@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*--------------------------------------------Media Queries*/

@media(min-width: 992px) {
    .section-column {
        padding: 0 30px 30px;
        float: none;
        display: table-cell;
    }

    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}

/*----------------------COLOURS*/

.ui-menu-color-nav{
    background-color: #2b2a28;

    
}


/*----------------------HEADINGS*/

header{
    margin: 0;

    
}

.logo{
    background-image: url("https://lope2.github.io/logo.jpg");
    background: url("assets/images/logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;

    
    
}


/*----------------------NAV*/


.menuitem{
    height: 100px;
    text-align: center;
    padding: 0;
    border: 1px;
    border-color: #8f8f8f;
    border-style: solid;
    
}
.menuitem a{
    width: 100%;
    text-decoration: none;
    color: #3eaa3a;
    height: 100px;
    
}
.menuitem a i{
    padding-top: 20px;
    display: block;
    font-size: 20px;
}
.menuitem span{
    display: block;
    font-family: "Roboto", sans-serif; 
    font-size: 20px;
    font-weight: 300;
    padding-top: 10px;
    width: 100%;
    text-align: center;

    
}
/*----------------------SECTION*/
    
.background{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}
 p{
    color: white;
    font-size: 22px;
    padding-left: 15px;
    
}
li{
    color: white;
    font-size: 18px;
    padding-left: 15px;
}
.spraybooth{
    padding-top: 20px;
    padding-left: 20px;
}
.discounts{
    padding-top: 60px;
    padding-left: 20px;
}

/*----------------------MARGINS AND PADDINGS*/
h5{
    margin: 0;
}
#nav{
    margin: 0;
}
#nav li {
    padding: 0;
}

/*----------------------NAV HOVERS*/

.hvr-buzz-out{
    
}
/*----------------------FOOTER*/
.footer-sub{
    margin-left: 100px;
    font-family: "Exo", sans-serif;
    font-size: 26px;
    font-weight: 300;
    color:#3eaa3a;
    display: inline-block;
}
footer{
    background-color: #2b2a28;
    height: 50px;
    margin: 0;
    padding-top: 5px;
    text-align: center;
    width: auto;

    
}

.social-links {
    padding-bottom: 0px;
}

.social-links li a i {
    width: 40px;
    height: 40px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 16px;
    line-height: 15px;
    text-align: center;
    color: #fafafa;
    background: red;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #83b93d;
}

#footer-details {
    margin: 0px;
}
.section-column{
    background: url("assets/images/checker.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    
}
.sectionimg{
    padding-bottom: 25px;
    padding-top: 25px;
    
}
.uppercase{
    color: white;
}

